  <% news = paginatedNews.data %> 
   <!-- ye line humne yha add ki hai taki paginated data se news mil jaye -->
  <!-- write a code to show news in loop with foreach method and show in html formate like below code -->
  <% news.forEach(function(article) { %>
      <div class="post-content">
          <div class="row">
              <div class="col-md-4">
                  <a class="post-img" href="/single/<%= article._id %>"><img src="/uploads/<%= article.image %>" alt=""/></a>
              </div>
              <div class="col-md-8">
                  <div class="inner-content clearfix">
                      <h3><a href='/single/<%= article._id %>'><%= article.title %></a></h3>
                      <div class="post-information">
                          <span>
                              <i class="fa fa-tags" aria-hidden="true"></i>
                              <a href='/category/<%= article.category.slug %>'><%= article.category.name %></a>
                          </span>
                          <span>
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <a href='/author/<%= article.author._id %>'><%= article.author.fullname %></a>
                          </span>
                          <span>
                              <i class="fa fa-calendar" aria-hidden="true"></i>
                              <!-- covert this date to human readable format like 13 November 2025 -->
                              <%= new Date(article.createdAt).toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' }) %>
                          </span>
                      </div>
                      <p class="description">
                          <%= article.content.substring(0, 30) + '...' %> 
                           <!-- show first 30 characters of content -->
                      </p>
                      <a class='read-more pull-right' href='/single/<%= article._id %>'>read more</a>
                  </div>
              </div>
          </div>
      </div>
  <% }); %>

  <% 
      function buildQuery(query, page) {
        const params = new URLSearchParams(query); // URLSearchParams ye search quercy params me store kar dega
        params.set('page', page); // jo search de data aaya hai usme page set kar denge
        return '?' + params.toString(); // fir usse string me convert kar denge aur return kar denge
      }
  %> 

  <nav>
    <!-- convert  this html code into dynamic pagination-->
    <ul class="pagination">
      <% if(paginatedNews.hasPrevPage) { %>
        <li class="page-item">
          <a class="page-link" href="<%= buildQuery(query, paginatedNews.prevPage) %>">Previous</a> 
        </li>
      <% } else { %>
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
      <% } %>
      <% for(let i = 1; i <= paginatedNews.totalPages; i++) { %>
        <li class="page-item <%= (i === paginatedNews.currentPage) ? 'active' : '' %>">
          <a class="page-link" href="<%= buildQuery(query, i) %>"><%= i %></a>
        </li>
      <% } %>
      <% if(paginatedNews.hasNextPage) { %>
        <li class="page-item">
          <a class="page-link" href="<%= buildQuery(query, paginatedNews.nextPage) %>">Next</a>
        </li>
      <% } else { %>
        <li class="page-item disabled">
          <a class="page-link">Next</a>
        </li>
      <% } %>
    </ul>
  </nav>

